html {
  background: url(../images/background_light.jpg) repeat-x top center;
  background-color: #C4C0BE;
}

.container {
  width: 758px;
  margin: auto;
}

/*Header styles*/
header img{
  margin-top: 20px;
  margin-bottom: 9px;
}

/*Hero styles*/

.hero {
  background: url(../images/background-inner.jpg) repeat-x;
  background-color: white;
  padding-bottom: 28px;
  border: 1px solid white;
}

.hero_column {
  float: left;
  width: 380px;
  margin-left: 15px;
  margin-top: 10px;
}

.hero img {
  float: left;
  width: 334px;
  height: 230px;
  margin-left: 15px;
  margin-top: 10px;
  border: 1px solid #cccccc;
}

.clear {
  clear: both;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-size: 11px;
  margin-top: -16px;
}

a {
  text-decoration: none;
  color: #3399ff;
}

p {
  font-size: 11px;
  color: #999999;
  line-height: 16px;
}



